<%= form_for(@student) do |f| %>
<label> first_name:</label><br>
<%=f.text_field :first_name, id:'student_first_name'%><br>

<label> last_name: </label>
<%=f.text_field :last_name, id:'student_last_name'%>
<%=f.submit "Update Student"%>
<% end %>